page-mainpage {

}
p{
	font-size: 3vw;
}
.container{
	text-align: center;
}
.button-rounder {
	border-radius: 10vw;
    border: 1px solid #73AD21;
    width: 20vw;
    height: 20vw;
    margin-top: 10vw;
}

.icon-size {
	font-size: 10vw;
}

