page-chdrug {

}
h2{
	font-size: 5vw;
}
h3{
	font-size: 4vw;
}

.border {
    border: 1px solid #dfdede;
    background: white;
    margin: 0 0 2vw 0;
}
.right{
	padding-top: 7vw;
	text-align: left;
}
ion-img {
/*	object-fit: resize;*/
	left: 1vw;
	height: 40vw;
	width: 40vw;
	border: 0;
	margin: 3vw 0 0 -2vw;
/*	background-color: grey;*/
}