page-mycart {

}

.circle-border {
    border: 1px solid #dfded0;
    background: #dfdede;
    border-radius: 50%;
}
.outline-round{
    border: 1px solid #dfded0;
    border-radius: 50%;
    padding: 1vw;
}

.right{
	padding-top: 7vw;
	text-align: left;
}
.topicon {
	font-size: 10vw;
	padding: 2vw 3vw 3vw 3vw;
}
.trash {
	font-size: 5vw;
	padding: -1vw 2vw 0vw 0vw;
	color:#A9A9A9 !important;

}